<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Какое то название или логотип</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isCatalog}}
            <li class="active"><a href="/catalog">Каталог</a></li>
            {{else}}
            <li><a href="/catalog">Каталог</a></li>
            {{/if}}

            {{#if isAuth}}

            {{#if isProfile}}
            <li class="active"><a href="/profile">Профиль</a></li>
            {{else}}
            <li><a href="/profile">Профиль</a></li>
            {{/if}}

            {{else}}

            {{#if isLogin}}
            <li class="active"><a href="/login">Войти</a></li>
            {{else}}
            <li><a href="/login">Войти</a></li>
            {{/if}}

            {{/if}}

        </ul>
    </div>
</nav>