<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Какое то название или логотип</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/login">Войти</a></li>
            <li><a href="/profile">Профиль</a></li>
        </ul>
    </div>
</nav>