<h1>Новый каталог</h1>

<form action="/catalog/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Название каталога</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Введите название каталога">
    </div>

    <div class="form-group">
        <label for="discription">Описание</label>
        <input type="text" class="form-control" id="discription" name="discription" placeholder="Введите описание">
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" placeholder="Добавьте изображение для превью">
    </div>

    <div class="form-group">
        <label for="publicity">Видимость каталога</label>
        <select class="form-control" id="publicity" name="publicity">
            <option value="3">Только модераторы</option>
            <option value="2">Модераторы и пользователи</option>
            <option value="1">Все</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Создать каталог</button>
</form>