<h1>Добавить карту</h1>


<form action="/catalog/{{catalog.id}}/add" method="POST" enctype="multipart/form-data" novalidate>
    <div class="input-field input-addcatalog">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Название карты</label>
        <span class="helper-text" data-error="Введите название карты"></span>
    </div>

    <div class="input-field input-addcatalog">
        <input id="discription" name="discription" type="text" class="validate" required>
        <label for="discription">Описание</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>

    <div class="input-field input-addcatalog">
        <input id="url" name="url" type="text" class="validate" required>
        <label for="url">WMS URL карты</label>
        <span class="helper-text" data-error="Введите WMS URL карты"></span>
    </div>

    <div class="file-field input-field input-addcatalog">
        <div class="btn">
            <span>Изображение</span>
            <input type="file" name="img">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>

    <div class="input-field input-addcatalog">
        <select name="publicity" class="validate">
            <option value="1">Только модераторы</option>
            <option value="2">Модераторы и пользователи</option>
            <option value="3">Все</option>
        </select>
        <label>Видимость карты</label>
    </div>

    <button class="btn btn-primary input-addcatalog" type="submit">Добавить карту</button>
</form>