<h1>Новый каталог</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/catalog/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Название каталога</label>
        <textarea class="form-control" id="title" name="title" placeholder="Введите название каталога" rows="4"
            minlength="3" maxlength="255">{{data.title}}</textarea>
    </div>

    <div class="form-group">
        <label for="discription">Описание</label>
        <textarea class="form-control" id="discription" name="discription" placeholder="Введите описание" rows="4"
            minlength="3" maxlength="1000" required>{{data.discription}}</textarea>
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" accept=".png, .jpg, .jpeg"
            placeholder="Добавьте изображение для превью" required>
    </div>

    <div class="form-group">
        <label for="publicity">Видимость каталога</label>
        <select class="form-control" id="publicity" name="publicity">
            {{#select data.publicity}}
            <option value="3">Редакторы</option>
            <option value="2">Авторизированые пользователи</option>
            <option value="1">Все</option>
            {{/select}}
        </select>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Создать каталог</button>
</form>