<h1>Добавить карту</h1>


<form action="/catalog/{{catalog.id}}/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Название карты</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Введите название карты">
    </div>

    <div class="form-group">
        <label for="discription">Описание</label>
        <input type="text" class="form-control" id="discription" name="discription" placeholder="Введите описание">
    </div>

    <div class="form-group">
        <label for="url">WMS URL карты</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="Введите WMS адрес карты">
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" placeholder="Добавьте изображение для превью">
    </div>

    <div class="form-group">
        <label for="publicity">Видимость карты</label>
        <select class="form-control" id="publicity" name="publicity">
            <option value="3">Только модераторы</option>
            <option value="2">Модераторы и пользователи</option>
            <option value="1">Все</option>
        </select>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Добавить карту</button>
</form>