<h1 class="title" style="text-align: center;">Авторизация</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/login" method="POST" class="form-input form-login">
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" class="form-control" id="login" name="login" required>
    </div>

    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary">Войти</button>
</form>