<div id="map" style="width: 100%; height: 100%"></div>
<input type="hidden" id="wms_url" value="{{map.url}}">
<div style="position: absolute; top: 2rem; right: 2rem; background-color: whitesmoke; padding: 2rem;">
    <h2>Легенда</h2>
    <div id="check">

    </div>
</div>

<div id="info"></div>