<div id="map" style="width: 100%; height: 100%"></div>
<input type="hidden" id="wms_url" value="{{map.url}}">
<input type="hidden" id="tile" value="{{map.tile}}">
<input type="hidden" id="projection" value="{{map.projection}}">
<div class="legend__btn">
    <p>
        <button class="btn btn-dark" type="button" id="legendBtn">
            Слои
            <img src="../../icons/layers.svg" alt="layers">
        </button>
    </p>
</div>

<div class="legend hidden" id="legendHidden">
    <div class="card card-body">
        <div id="check">

        </div>
    </div>
</div>


<div class="info hidden" id="infoHidden">
    <div class="card card-body">

        <h2 class="card-title" style="margin-bottom: 1rem;">Информация<button type="button" class="close"
                id="close_info">
                <span aria-hidden="true">&times;</span>
            </button></h2>

        <div id="info" class="info__content">
        </div>
    </div>
</div>