body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bg-water {
    background-color: #1f5d9c!important;
}

/* .legendIcon {
    overflow: hidden;
    max-height: 200px;
}

.legendIcon img {
    overflow: hidden;
} */

.container {
    padding: 2rem 0;
}

.map__container {
    flex-grow: 1;
    position: relative
}

.add_link {
    padding: 1rem 0;
}

.catalog-card {
    margin-bottom: 2rem;
}

.catalog-card-body {
    height: 200px;
    overflow: auto;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-img {
    object-fit: cover;
    height: 250px;
}

.form-input {
    width: 600px;
    margin: 0 auto;
}

.form-login {
    padding: 4rem 0;
}

.form-changepass {
    margin-bottom: 0;
}

.form-check {
    margin-bottom: 1rem;
}

.form-edit {
    margin-top: 2rem;
}

.card-body::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
}

.card-body::-webkit-scrollbar-thumb {
    background-color: gray;
}

.submit-btns {
    padding-top: 2rem;
}

.submit-btns>button {
    margin-right: 2rem;
}

.alert{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.2);
}

@media (max-width: 575px) {
    .container {
        padding: 2rem 3rem;
    }
}