.nav-wrapper {
    padding: 0 2rem;
    background: linear-gradient(to top left, rgb(104, 104, 236), rgb(19, 19, 172));
}

.input-login {
    margin-top: 6rem;
}

/* .card-img-top {
    height: 300px;
} */

.card {
    max-width: 300px;
}

.input-addcatalog {
    margin-top: 2rem;
}

.modal {
    width: 30%;
}


/* 
.dropdown-trigger {
    width: 180px;
} */